body{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 100%;
  text-align: left;

}

header{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: rgb(243, 189, 248);
  font-size: 100%;
  text-align: left;


  
}

nav{
  background-color: rgb(255, 147, 255);
  color:black;
  font-size: 125%;
}

main{ 
  background-color: rgb(255,147,235);
  font-size: 125%;
  text-align: left;

footer{

  
}
    
}
  

}

